/* GENERAL */
:root {
  --background-color: #43789e;
  --main-color: #fff;
  --second-color: #222;

  --ship: #439e49;
  --hit: #9e4343;
  --miss: #949494;
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
  color: var(--main-color);
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--background-color),
    var(--second-color)
  );
  background-size: 200% 200%;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 50px;
}

button {
  background-color: var(--main-color);
  color: var(--second-color);

  font-size: 1.1rem;
  font-weight: bold;

  padding: 10px 50px;

  border-radius: 20px;
  border: none;

  cursor: pointer;
  transition: transform 300ms;
}

button:hover {
  transform: scale(1.1);
}

/* UTILITY */
.blocker {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
  .title {
    font-size: 2rem;
  }
}
