.game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.gameboards-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.color {
  background-color: var(--ship);
}

.hit {
  background-color: var(--hit);
}

.miss {
  background-color: var(--miss);
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  .gameboards-container {
    flex-direction: column;
  }
}
