.ships-choose-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.ship-position {
  position: absolute;
  display: none;
  background-color: var(--ship);
}

.gameBoard {
  position: relative;
  display: flex;
  width: 550px;
  flex-wrap: wrap;
}

.cell {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid var(--second-color);
  cursor: pointer;
  transition: transform 300ms;
}

.cell:hover {
  transform: scale(1.1);
}

.cell:hover > .ship-position {
  display: inline;
}

.horizontal {
  height: 50px;
}

.vertical {
  width: 50px;
}

.carrier.horizontal {
  width: 239px;
}

.carrier.vertical {
  height: 239px;
}

.battleship.horizontal {
  width: 189px;
}

.battleship.vertical {
  height: 189px;
}

.cruiser.horizontal {
  width: 145px;
}

.cruiser.vertical {
  height: 145px;
}

.submarine.horizontal {
  width: 145px;
}

.submarine.vertical {
  height: 145px;
}

.destroyer.horizontal {
  width: 95px;
}

.destroyer.vertical {
  height: 95px;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
  .gameBoard {
    width: 300px;
  }

  .cell {
    width: 28px;
    height: 28px;
  }

  .horizontal {
    height: 28px;
  }

  .vertical {
    width: 28px;
  }

  .carrier.horizontal {
    width: 135px;
  }

  .carrier.vertical {
    height: 135px;
  }

  .battleship.horizontal {
    width: 110px;
  }

  .battleship.vertical {
    height: 110px;
  }

  .cruiser.horizontal {
    width: 83px;
  }

  .cruiser.vertical {
    height: 83px;
  }

  .submarine.horizontal {
    width: 83px;
  }

  .submarine.vertical {
    height: 83px;
  }

  .destroyer.horizontal {
    width: 55px;
  }

  .destroyer.vertical {
    height: 55px;
  }
}
